<div class="container flex-center">
    <div class="card">
        <div class="card-header">
            Book a ride
        </div>
        <div class="card-body">
            <p class="card-text">PoolCarz is a web application for carpooling. The application allows users to share rides with others. Users can either
            book a ride or offer a ride.Renders the rides available and also allows to filter the details based on the start/endpoint of the rides</p>
            <br>
            <div class="center rides">
                <a routerLink="/login" routerLinkActive="activebutton" class="btn btn-primary"> Login</a>
                <a href="#" class="btn btn-primary"> Login</a>
                <a href="#" class="btn btn-primary"> Login</a>
                <a href="#" class="btn btn-primary"> Login</a>
            </div>
  
   

        </div>
    </div>

</div>
